body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.imgur.com/wK1Lxtn.jpg") fixed;
}

.menu {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#pic {
  width: 200px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

#pcb {
  width: 500px;
  margin-left: 30px;
}

.buttons {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  padding: 0.5em;
  display: block;
}

.l1 {
  float: left;
}

.l1:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

p,
h1, ul {
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(0, 0, 0, 0.9);
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

p,
ul,
button {
  font-family: "Muli", sans-serif;
  font-size: 1.4em;
}

ul {
  display: table;
  text-align: left;
}

#contact {
  color: black;
}

#linkedin {
  color: #005000;
  text-decoration: none;
}

#contents{
  margin-left: 30px;
}

#cinfo, #tab {
  margin-left: 10px;
}

div.info {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin: auto;
  overflow: hidden;
  min-width: 20em;
  border-radius: 0.3em;
}

div.contact {
  background-color: rgba(255, 255, 255, 0.9);
  width: 26em;
  margin: auto;
  text-align: center;
  overflow: hidden;
  min-width: 20em;
  border-radius: 0.3em;
}


